sysroot/debian_bullseye_loong64-sysroot.tar.bz2 filter=lfs diff=lfs merge=lfs -text
sysroot/debian_sid_loong64-sysroot.tar.bz2 filter=lfs diff=lfs merge=lfs -text
sysroot/debian_bullseye_loongarch64-sysroot.tar.bz2 filter=lfs diff=lfs merge=lfs -text
